.App {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  padding: 10px;
  overflow-y: auto;
}

.App .checkbox {
  opacity: 0;
}

.heading-container {
  display: flex;
  align-items: center;
  margin-block-end: 10px;
  justify-content: space-between;
}

.heading-container h3 {
  margin:0;
  margin-inline-end: 20px;
  padding: 0;
  align-self: center;
}

.heading-container .heading-left {
  display: flex;
}

.user-container {
  margin-inline-end: 7px;
  padding: 6px 11px;
  background: rgb(244 244 244);
  background: linear-gradient(180deg, rgb(244 244 244) 0%, rgba(255,255,255,1) 100%);
  border-radius: 4px;
  box-shadow: 3px 5px 0px 0px #6a463d;
  margin-block-end: 23px;
}

.user-container .user-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-container .user-row:last-child {
  margin-bottom: 0;
}

.user-container .user-part {
  flex-grow: 1;
  margin-inline-end: 18px;
}

.user-container .user-part span {
  color: rgb(23 105 136);
  font-weight: bold;
  font-style: italic;
}

.user-container .user-part:last-child {
  margin-inline-end: 0;
}

.user-container .user-part label {
  font-size: 11px;
  font-style: italic;
  color: #999;
}

.user-container .user-env {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.user-container .user-env .env-continer {
  display: flex;
  align-items: end;
}

.user-container .user-env input {
  margin: 0;
  margin-right: 6px;
  padding: 0;
  width: 19px;
  height: 19px;
}

.user-container .user-env label {
  margin-right: 22px;
}

.user-container .user-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-user-container .add-user-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-list button {
  margin-inline-end: 10px;
}

.user-list button:last-child {
  margin-inline-end: 0;
}

.user-list .right-row .btn-edit,
.user-list .right-row .btn-delete {
  border: none;
  padding: 0;
  height: 21.333px;
  width: 53px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0,0,0,0);
}

.user-list .right-row .btn-delete {
  background-size: 13px;
}

.user-edit {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fff;
  padding: 20px 10px;
  padding-top: 7px;
  border-radius: 5px;
  box-shadow: 0 0 0 8000px rgb(0 0 0 / 20%), 3px 3px rgba(0,0,0,0.9);
  left: 72px;
  top: 29px;
}

.user-edit .close {
  border: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  width: 19px;
  margin: 0;
  align-self: flex-end;
}

.user-edit input {
  margin-bottom: 10px;
  border: 2px solid #606f83;
  padding: 7px;
}

.user-edit input:disabled {
  background-color: #d7dce2;
}

.user-edit .user-edit-up input {
  margin-right: 10px;
}

.user-edit .user-edit-up input:last-child {
  margin-right: 0;
}
