.App {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  padding: 10px;
  border: 1px solid #fefefe;
}

.heading-container {
  display: flex;
  align-items: center;
}

.heading-container h2 {
  margin-right: 20px;
}

.user-container {
  padding: 10px;
  background: rgb(244 244 244);
  background: linear-gradient(180deg, rgb(244 244 244) 0%, rgba(255,255,255,1) 100%);
  border-radius: 4px;
  box-shadow: 3px 5px 0px 0px #6a463d;
  margin-block-end: 23px;
}

.user-container .user-row {
  display: flex;
  margin-bottom: 10px;
}

.user-container .user-row:last-child {
  margin-bottom: 0;
}

.user-container .user-part {
  flex-grow: 1;
  margin-inline-end: 18px;
}

.user-container .user-part span {
  color: rgb(23 105 136);
  font-weight: bold;
  font-style: italic;
}

.user-container .user-part:last-child {
  margin-inline-end: 0;
}

.user-container .user-part label {
  font-size: 11px;
  font-style: italic;
  color: #999;
}

.user-container .user-env {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.user-container .user-env input {
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

.user-container .user-env label {
  margin-right: 22px;
}
