.App {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  padding: 10px;
  border: 1px solid #fefefe;
}

.heading-container {
  display: flex;
  align-items: center;
}

.heading-container h2 {
  margin-right: 20px;
}
